<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Articles ~ Stockr Finance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  </head>
  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <a class="navbar-item is-hidden-desktop" href="/wsj">
          <span class="icon">
            <i class="fa fa-globe"></i>
          </span>
          News
        </a>

        <a class="navbar-item is-hidden-desktop" href="/blog" target="_blank">
          <span class="icon">
            <i class="fa fa-users"></i>
          </span>
          Blog
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/wsj">
                The WSJ
              </a>
              <a class="navbar-item " href="/businessInsider">
                Business Insider
              </a>
              <a class="navbar-item " href="/economist">
                The Economist
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <% if (!name) {%>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else {%>
            <a href="/write" class="navbar-item">Write</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container is-centered">
        <h1 class="title">
          Blog Posts
        </h1>
        <p class="subtitle">
          Here's what our community thinks...
        </p>
      </div>
    </section>


    <%if (!name) {%>

      <% if (response[0]) {%>

        <% for (var i = 0; i < response.length; i++) { %>
          <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">

              <div class="card">
                <div class="card-content">
                  <a href="/article/<%= response[i].posts_id %>">
                    <p class="title">
                    <%= response[i].title %>
                    </p>
                  </a>
                  <p class="subtitle">
                    <%= response[i].full_name %>
                  </p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      Share on <a data-social-network="Twitter" data-social-action="tweet" data-social-target="https://stockrfinance.com" target="_blank" href="https://twitter.com/intent/tweet?text=<%=response[i].title%>&url=https://stockrfinance.com/article/<%=response[i].posts_id%>">Twitter</a>
                    </span>
                  </p>
                  <p class="card-footer-item">
                    <span>
                      Share on <a href="#">Facebook</a>
                    </span>
                  </p>
                </footer>
              </div>

            </div>
          </div>
        <% } %>

      <% } else {%>
        <div class="columns is-centered is-mobile">
          <div class="column is-8">
            <h1 class="title">There are no blog posts on this site.<a href="/login"> Login</a> or <a href="/signup">Sign Up</a> and start writing one now!</h1>
          </div>
        </div>
      <% } %>

    <% } else if (name) {%>

      <% if (response2[0]) {%>

        <% for (var i = 0; i < response2.length; i++) { %>
          <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">

              <div class="card">
                <div class="card-content">
                  <a href="/article/<%= response2[i].posts_id %>">
                    <p class="title">
                    <%= response2[i].title %>
                    </p>
                  </a>
                  <p class="subtitle">
                    <%= response2[i].full_name %>
                  </p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      Share on <a data-social-network="Twitter" data-social-action="tweet" data-social-target="https://stockrfinance.com" target="_blank" href="https://twitter.com/intent/tweet?text=<%=response2[i].title%>&url=https://stockrfinance.com/article/<%=response2[i].posts_id%>">Twitter</a>
                    </span>
                  </p>
                  <p class="card-footer-item">
                    <span>
                      Share on <a href="#">Facebook</a>
                    </span>
                  </p>
                </footer>
              </div>

            </div>
          </div>
        <% } %>

      <% } else {%>

        <div class="columns is-centered is-mobile">
          <div class="column is-two-quarters">
            <h1 class="title">There are no blog posts on this site.<a href="/login"> Login</a> or <a href="/signup">Sign Up</a> and start writing one now!</h1>
          </div>
        </div>

      <% } %>
    <% } %>

    <br>
    <br>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
