<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./favicon.png" type="img/x-icon">
    <title>Stockr Finance ~ Home Page</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"/> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
  </head>

  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/wsj">
                The WSJ
              </a>
              <a class="navbar-item " href="/businessInsider">
                Business Insider
              </a>
              <a class="navbar-item " href="/economist">
                The Economist
              </a>
              <a class="navbar-item " href="/bloomberg">
                Bloomberg
              </a>
              <a class="navbar-item " href="/fortune">
                Fortune
              </a>
              <a class="navbar-item " href="/nytimes">
                New York Times
              </a>
              <a class="navbar-item " href="/cnbc">
                CNBC
              </a>
              <a class="navbar-item " href="/aljazeera">
                Aljazeera
              </a>
              <a class="navbar-item " href="/google">
                Google News
              </a>
              <a class="navbar-item " href="/reuters">
                Reuters
              </a>
              <a class="navbar-item " href="/toi">
                The Times Of India
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <% if (!name) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <a href="/write" class="navbar-item">Write</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>

    <section class="hero banner is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" style="font-family: 'Rajdhani', sans-serif;">
            <strong id="typed-strings"></strong>
          </h1>
        </div>
      </div>
    </section>

    <br />

    <section class="section">
      <h1 class="title has-text-centered" id="topStories">Today's top stories</h1>

      <% if (data[0]) { %>
        <div class="columns is-mobile is-centered">
          <div class="column is-6-desktop">
            <div class="card">
              <a href="/article/<%=data[0].url%>">
                <div class="card-image">
                  <figure class="image is-3by3">
                    <img src="<%= data[0].urlToImage %>" alt="Image">
                  </figure>
                </div>
              </a>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= data[0].title %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <% if (response2[0]) { %>
        <% for (var i = 0; i < response2.length; i++) { %>
        <div class="columns is-mobile is-centered">
          <div class="column is-6-desktop">
            <div class="card">
              <a href="/article/<%=response2[i].posts_id%>">
                <div class="card-image">
                  <figure class="image is-3by3">
                    <img src="<%= response2[i].image_url %>" alt="Image">
                  </figure>
                </div>
              </a>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4"><%= response2[i].title %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      <%} else if (response2){%>
        <h1 class="title column" id="noStories">No Stories trending right now. <a href="/login">Login</a> or <a href="/signup">Sign Up</a> and start writing one now!</h1>
      <% } %>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
          </p>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        // Check if there are any nav burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>

  </body>
</html>
