<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stockr Finance ~ Home Page</title>

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
<!--     <script src='./node_modules/free-text/src/index.js'></script> -->
<!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
  </head>

  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <a class="navbar-item is-hidden-desktop" href="/wsj">
          <span class="icon">
            <i class="fa fa-globe"></i>
          </span>
          News
        </a>

        <a class="navbar-item is-hidden-desktop" href="/blog">
          <span class="icon">
            <i class="fa fa-users"></i>
          </span>
          Blog
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/wsj">
                The WSJ
              </a>
              <a class="navbar-item " href="/businessInsider">
                Business Insider
              </a>
              <a class="navbar-item " href="/economist">
                The Economist
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end" id="rightHere">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <% if (!name) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <a href="/write" class="navbar-item">Write</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
          <div class="navbar-burger burger" data-target="rightHere">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero banner is-large">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" style="font-family: 'Rajdhani', sans-serif;">
            <strong id="typed-strings"></strong>
          </h1>
        </div>
      </div>
    </section>

    <br />

    <section class="section">
      <h1 class="title column is-offset-one-quarter-desktop" id="topStories">Today's top stories</h1>

      <% if (response2[0]) { %>
        <% for (var i = 0; i < response2.length; i++) { %>
          <div class="column">
            <div class="column is-three-quarters-desktop is-7-mobile">
              <a href="/article/<%=response2[i].posts_id%>">
                <section class="hero is-primary is-medium" style="background-image: url('<%= response2[i].image_url %>'); background-repeat: no-repeat; background-size: cover;">
                  <div class="hero-body">
                    <div class="container">
                      <h1 class="title">
                        <%= response2[i].title %>
                      </h1>
                      <h2 class="subtitle">
                        <%= response2[i].content %>
                      </h2>
                    </div>
                  </div>
                </section>
              </a>
            </div>
          </div>
        <% } %>
      <%} else if (response2){%>
        <h1 class="title column" id="noStories">No Stories trending right now. <a href="/login">Login</a> or <a href="/signup">Sign Up</a> and start writing one now!</h1>
      <% } %>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
