<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= response2[0].title %> ~ Stockr Finance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/scripts/comments.js"></script>
  </head>
  <body>

    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Stockr</strong>
        </a>

        <a class="navbar-item is-hidden-desktop" href="/wsj">
          <span class="icon">
            <i class="fa fa-globe"></i>
          </span>
          News
        </a>

        <a class="navbar-item is-hidden-desktop" href="/blog">
          <span class="icon">
            <i class="fa fa-users"></i>
          </span>
          Blog
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active">
              Trending
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item " href="/wsj">
                The WSJ
              </a>
              <a class="navbar-item " href="/businessInsider">
                Business Insider
              </a>
              <a class="navbar-item " href="/economist">
                The Economist
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item is-hidden-desktop-only" href="/blog">
            Blog
          </a>
          <% if (!name) { %>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/login" class="tw-button button">Login</a>
                </p>
              </div>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="/signup" class="tw-button button">Sign Up</a>
                </p>
              </div>
            </div>
          <% } else { %>
            <a href="/write" class="navbar-item">Write</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link  is-active">
                <%= name %>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item " href="/logout">
                  Logout
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </nav>


    <section class="section">
      <div class="container">
        <h1 class="title">
          <%= response2[0].title %>
        </h1>
        <p class="subtitle">
          by <%= response2[0].full_name %>
        </p>
      </div>
    </section>


    <section class="hero is-large" style="background-image: url(<%= response2[0].image_url %>); background-repeat: no-repeat; background-size: cover;">
      <div class="hero-body">

      </div>
    </section>

    <br />
    <br />

    <div class="columns is-centered is-mobile">
      <div class="column is-7-desktop is-10-mobile is-12-tablet">
        <div>
          <p class="subtitle">
          <%= response2[0].content %>
          </p>
        </div>
      </div>
    </div>

    <div class="columns is-right is-mobile">
      <div class="column is-4 is-offset-8">
      <p class="subtitle"></p>
      </div>
    </div>

    <hr style="margin-left: 15%; margin-right: 15%;">

    <div class="columns is-mobile is-centered">
      <div class="column is-7-desktop is-10-mobile is-12-tablet">
        <article class="media">
          <div class="media-content">
            <form id="postComment">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" id="textarea" placeholder="Add a comment..." required></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input class="button is-primary" type="submit"></input>
                </p>
              </div>
            </form>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-mobile is-centered">
      <div class="column is-7-desktop is-10-mobile is-12-tablet" id="commentGoesHere">
        <% if (response2[0].comment_id) {%>
          <% for (var i = 0; i < response2.length; i++) { %>
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <% if (response2[i].commenter_name) { %>
                      <strong id="commenterName"><%= response2[i].commenter_name %></strong>
                    <% } else { %>
                      <strong id="commenterName">Anonymous</strong>
                    <% } %>
                    <br id="commentText">
                    <%= response2[i].description %>
                    <br>
                    <small id="commentTime"><%= response2[i].date_created.toDateString() %></small>
                  </p>
                </div>
              </div>
            </article>
          <% } %>
        <% } else {%>

        <% } %>
      </div>
    </div>


    <br />
    <br />
    <br />


    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Stockr</strong> Finance by <a href="http://elecsoftconsulting.com">ElecSoft Consulting.</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
